<div class="btn-group btn-group-lg pull-right">
  <%= link_to raw("<i class='fa fa-user'></i> #{t 'other.friendreq'}"), request_friendships_path(:request_to_id => @profile.user,profile_id: @profile),remote: true , method: :post , class: 'btn btn-primary'%>
  <a data-toggle="modal" data-target="#pm" class="btn btn-info">
    <i class="fa fa-comment-o"></i>
  </a>
</div>